@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50;
}

.container-page {
  @apply min-h-screen flex flex-col;
}

.page-inner {
  @apply max-w-5xl mx-auto w-full px-4 py-8;
}
